body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: center;
    background-attachment: fixed;
    text-decoration: none;
    text-decoration-line: none;
}
.navbar {background-color: #0B0B0B !important; border-color: transparent; border-radius: 0%;
         box-shadow: 0 0 6px 3px rgba(0,0,0,.35); }
/** Default navbar **/
.navbar-default .navbar-nav>li>a { padding-top: 25px; padding-bottom: 25px; min-height: 69px; color: #fff;}
.navbar-default .navbar-nav > li > a:hover {color: #DDBE42;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #DDBE42;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #DDBE42;
}
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #060606 !important;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #585858 !important;
    padding: 12px 12px 12px 12px !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #DDBE42 !important;
    background-color: transparent !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #DDBE42 !important;
    background-color: transparent !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-form { padding-top: 10px !important;}
.navbar-text { margin-top: 25px; }
.navbar-default .navbar-text { color: #CBAF3B;}
.navbar-default .navbar-brand {
    font-size: 21px;
    color: #CBAF3B;
    margin-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #DDBE42;
}
.logo{
    margin-top: -26px;
}
.vacio{
    width: 100%;
    height: 110px;
    background-color: transparent;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
.btn-dark {
    border-radius: 0;
    padding: 15px 25px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.capa{
    background-color: rgba(0,0,0,0.4);
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.texto{
    color:#fff;
}